<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<form id="FrmSave" name="FrmSave">
	<input type="text" id="ZipCode1" name="ZipCode1" size="3"> - <input type="text" id="ZipCode2" name="ZipCode2" size="3"> <input type="button" value="우편번호검색"
	onclick="var zippopup=window.open('./PopUp_ZipCode_utf8.asp?formnm=FrmSave&zipcode1=ZipCode1&zipcode2=ZipCode2&address1=Address1&address2=Address2','SearchZipCode','left='+((screen.width-530)/2)+',top='+((screen.height-570)/2)+',width=530,height=570,scrollbars=no,status=0,resizable=0'); zippopup.focus();return false;"><br/>
	<input type="text" id="Address1" name="Address1" size="40"><br/>
	<input type="text" id="Address2" name="Address2" size="40"><br/>
</form>